@import "../../colors.css";

.cm-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 800px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: var(--primary);
}

.cm-title {
  display: flex;
  align-items: center;
}

.cm-title-label {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary);
  margin-left: 16px;
}

.cm-lists-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.cm-list {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.cm-list-img {
  object-fit: contain;
  width: 80px;
  height: 80px;
}

.cm-list-detail {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: center;
  flex: 1;
}

.cm-product-name {
  font-size: 20px;
  font-weight: 500;
}

.cm-product-option {
  font-size: 18px;
  font-weight: 400;
  margin-top: 6px;
}
.cm-list-price {
  display: flex;
  flex: 0.25;
  justify-content: center;
  align-items: center;
  /* background-color:antiquewhite ; */
}

.cm-product-price {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 500;
}

.cm-list-qty {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
}

.cm-remove-b {
  display: flex;
  background-color: var(--secondary);
  border: 0;
  width: 60px;
  height: 60px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}

.cm-total-label{
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: auto;
}
